<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <!-- <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<hr>

<div class="w3-container">
<nav>
  <ul>
    <li><a href="https://www.linkedin.com/in/lamwinnie1/">LinkedIn</a></li>
    <li><a href="#">Github</a></li>
    <li><a href="mailto:winnie.lam1234@gmail.com">Contact</a></li>
  </ul>
</nav>
<article>
<p>Welcome to my home page!<br><br>
</p>
<p>I have many <a href="#" id="hideLink" title="M.Math, M.Math, B.Sc, B.Ed">titles</a> and have numerous teaching experiences.
I also volunteer as a Youth Group Leader.
I am a goal-oriented person and enjoys trying new things and completing tasks.

</p>
<p>I currently enjoy the following activities:
</p>
 <div class="w3-row">
   <div class="w3-row-padding w3-padding-16 w3-center">
     <div class="w3-quarter">
       <h1>Painting</h1>
       <img src="assets/painting.jpg" align="center">
     </div>
     <div class="w3-quarter">
       <h1>Drawing</h1>
       <img src="assets/clothdrawing.jpg" align="center">
     </div>
     <div class="w3-quarter">
       <h1>Knitting</h1>
       <img src="assets/knittedheadband.jpg" align="center">
     </div>
     <div class="w3-quarter">
       <h1>Playing Guitar</h1>
       <img src="assets/guitar.jpg" align="center">
     </div>
   </div>
 </div>

</article>



</div>

<footer>Copyright &copy; Winnie Lam</footer>
